@import 'vars';

@mixin flex($justify: stretch, $align: normal) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}


@mixin positionTop($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}


@mixin positionBot($bot:0, $left:0) {
  position: absolute;
  bottom: $bot;
  left: $left;
}
