// * Colors

$subtitleColor: #828282;
$nameCardColor: #ffffff;
$priceNumColor: #0040e6;
$priceTitle: #808080;
$creatorColor: #f3f3f3;

// * Media

$mq1: 1440;
$mq2: 1279.98;
$mq3: 767.98;
$mq4: 575.98;

// * Container

.container {
  padding: 0 15px;
  @media (min-width: $mq4+px) {
    padding: 0 30px;
  }
  @media (min-width: $mq2+px) {
    width: 100%;
    margin: 0 auto;
  }
  @media (min-width: $mq1+px) {
    padding: 0 150px;
  }
}
