@import 'src/sass/vars';
@import 'src/sass/mixins';

.home {
  &_wrapper {
    padding-top: 1.16rem;
  }

  &_header {
    @include flex();
    flex-direction: column;
    gap: 1.7rem;
  }

  &_title {
    font-weight: 700;
    font-size: 3.2rem;
  }

  &_label {
    font-weight: 400;
    font-size: 1.2rem;
    color: $priceTitle;
    @include flex(start, center);
    gap: 5px;
  }

  &_products {
    @include flex(start, center);
    flex-direction: column;
    gap: 15px;

    margin-top: 0.8rem;
    @media (min-width: $mq3+px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
