@import "src/sass/vars";
@import "src/sass/mixins";

.product {

  &_inner {
    @include flex(null, center);
    flex-direction: column;

    background: $nameCardColor;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 0 5px;
  }

  &_card {
    position: relative;

    transition: all .5s ease-in;

    &_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #393839;
    }
  }

  &_created {
    @include positionTop(15px, 15px);
    font-size: 1.2rem;
    color: $creatorColor;
  }

  &_author {
    @include positionTop(35px, 15px);

    font-weight: 700;
    font-size: 1.4rem;
    color: $nameCardColor;
  }

  &_item {
    @include positionBot(16px, 16px);
    max-width: 14rem;
    font-size: 1.8rem;
    color: $nameCardColor;
  }

  &_footer {
    @include flex(space-between, center);
    padding: 1.6rem;
  }

  &_quantity {
    @include flex();
    flex-direction: column;

    font-weight: 600;
    font-size: 1.2rem;
  }

  &_available {
    font-weight: 400;
    font-size: 1.2rem;
    color: $priceTitle;
  }

  &_price {
    @extend .product_available
  }

  &_currency {
    @extend .product_quantity;
    color: $priceNumColor;
  }
}

.product_card:hover .product_card_overlay {
  opacity: 1;
}