@import "src/sass/vars";

.profile {
  &_btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 1.4rem;

    &:hover {
      background-color: mediumblue;
      transition: background-color ease 0.6s;
    }
  }
}